@import 'root.scss';

.about-text{
    width: 65%;
    // border: 1px solid var(--kprimary);
    margin: auto;
}

@media screen and (max-width: 600px) {
    .about-text{
        width: 90%;
        // border: 1px solid var(--kprimary);
        margin: auto;
    }
}