.home{
    // background: red;
    p{
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    .list-card{
        width: 80%;
        margin: 10px auto;
        height: auto;
        // background: purple;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:12px;

        @media screen and (max-width: 600px) {
            width: 93%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap:12px;
        }


        //articles 
        .article {
            width: 450px;
            padding-left: 1.6%;
            height: auto;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            // border: 1px solid black;
            margin-bottom: 30px;

            @media (min-width: 700px) {
              float: left;
            }
            @media (min-width: 00px) and (max-width: 700px) {
              width: 100%;
              padding-left: 0%;
            }
            .cover {
              position: relative;
              width: 100%;
              margin-bottom: 30px;
              height: 250px;
              @media (min-width: 1000px) and (max-width: 1200px) {
                height: 200px;
              }
              @media (min-width: 700px) and (max-width: 1000px) {
                height: 180px;
              }
        
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
        
              span {
                padding: 10px 10px;
                font-size: 17px;
                position: absolute;
                bottom: 0px;
                left: 0;
                z-index: 300000;
                color: #f8f8f8;
                background-color: rgb(255, 47, 57);
                @media screen and (max-width: 600px) {
                    padding: 10px 10px;
                    font-size: 13px;
                }
        
              }
        
              img {
                width: 100%;
                transform: scale(1.7);
                overflow: hidden;
              }
              img:hover {
                transform: scale(1.9);
              }
            }
            .descript {
              width: 100%;
              @media (min-width: 00px) and (max-width: 700px) {
                padding-left: 10px;
                padding-right: 10px;
              }
              padding-left: 0px;
              h3 {
                margin-top: -0px;
                margin-bottom: 5px;
                margin: 1px;
                font-weight: 1000;
                text-transform: uppercase;
                @media (min-width: 700px) and (max-width: 1000px) {
                  font-size: 17px;
                }
              }
              .legende {
                font-size: 15px;
                @media (min-width: 700px) and (max-width: 1000px) {
                  font-size: 12px;
                }
              }
              .auteur {
                width: 100%;
                margin-bottom: 10px;
                position: relative;
                display: flex;
                flex-direction: row;
                .avatar {
                  width: 30px;
                  height: 30px;
                  overflow: hidden;
                  color: rgb(40, 40, 41);
        
                  img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                  }
                }
                .nom {
                  font-size: 12px;
                  padding-right: 7px;
                }
                .date_of_post {
                  font-size: 12px;
                  padding-right: 7px;
                }
                .chapitres {
                  font-size: 12px;
                  padding-right: 7px;
                }
                display: flex;
                height: 20px;
              }
            }
        }
        :nth-child(1) {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(9);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }
        :nth-child(1):hover {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(0);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }
        :nth-child(2) {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(9);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }
        :nth-child(2):hover {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(0);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }
        :nth-child(3) {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(9);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }
        :nth-child(3):hover {
            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(0);
              -webkit-transition: all 0.3s;
              transition: all 2s;
            }
        }


        //PodCast
        .podcast {
            position: relative;
            width: 32.5%;
            padding-left: 1.6%;
            height: 100%;
            margin-bottom: 14px;
            display: flex;
            border-radius: 10px;
            flex-direction: row;
            overflow: hidden;
            @media (min-width: 0px) and (max-width: 640px) {
              width: 100%;
              height: 220px;
            }
            .cover {
              position: relative;
              width: 100%;
              border-radius: 10px;
              height: 100%;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              span {
                padding: 10px 10px;
                font-size: 17px;
                position: absolute;
                bottom: 140px;
                z-index: 300000;
                color: #f8f8f8;
                background-color: rgb(53, 28, 82);
              }
              img {
                overflow: hidden;
                transition: 2s;
                z-index: 100000;
                @media (min-width: 640px) {
                  height: 100%;
                }
                @media (min-width: 0px) and (max-width: 640px) {
                  width: 100%;
                  transform: scale(2);
                }
              }
              img:hover {
                height: 100%;
                overflow: hidden;
                transform: scale(1.3);
                transition: 2s;
              }
            }
            .descript {
              border-radius: 10px;
              position: absolute;
              width: 100%;
              height: auto;
              bottom: 0;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              color: rgb(206, 206, 207);
              word-wrap: break-word;
              background-color: #13121296;
              h3 {
                margin-top: -0px;
                margin-bottom: 5px;
                font-weight: 1000;
                text-transform: uppercase;
                @media (min-width: 0px) and (max-width: 1214px) {
                  font-size: 15.5px;
                }
              }
              .legende {
                font-size: 13px;
              }
              .auteur {
                width: 100%;
                margin-bottom: 10px;
                position: relative;
                display: flex;
                flex-direction: row;
                @media (min-width: 0px) and (max-width: 1214px) {
                  flex-direction: column;
                  margin-bottom: 17px;
                }
                .avatar {
                  width: 30px;
                  height: 30px;
                  overflow: hidden;
      
                  img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                  }
                }
                .nom {
                  font-size: 14px;
                  padding-right: 2px;
                }
                .date_of_post {
                  font-size: 14px;
                  padding-right: 2px;
                  @media (min-width: 0px) and (max-width: 1214px) {
                    font-size: 12px;
                  }
                }
                .chapitres {
                  @media (min-width: 0px) and (max-width: 1214px) {
                    font-size: 10px;
                  }
                  font-size: 12px;
                  padding-right: 2px;
                  display: none;
                }
                display: flex;
                height: 20px;
              }
            }
        }
    }
}

//respo
@media screen and (max-width: 600px) {
    .home{
        // background: red;
        p{
            width: 90%;
            font-size: 14px;
        }
    
    }

}