.home{
    // background: red;
    p{
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    .list-card{
        width: 70%;
        margin: 19px auto;
        height: 420px;
        background: purple;
    }
}