:root{
    --kprimary:rgb(151, 4, 4);
    --kwhite:#fff;
    --kblak:#000;
    --kgrey: grey;
    --kgray: gray;
    --kbg:#efefef;
}

:root{
    --kprimary:#970404;
    --kwhite:#fff;
    --kblak:#000;
    --kgrey: grey;
    --kgray: gray;
    --kbg:#efefef;
    --kprimary1 : rgb(151,4,4,.8)
}